html {
  font-size: 100%;
}
body {
  color: #24292e;
  font-family: "Sawarabi Gothic";
}
a {
  text-decoration: none;
  color: #24292e;
}
p {
  font-size: 1rem;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
  font-size: 1.2rem;
}

#header {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  height: 170px;

  & ul {
      display: flex;
      padding: 10px 0;
      align-items: center;

          & li:not(:first-child) {
          margin-left: 30px;
          }
          & li {
          font-size: 0.9rem;
          // margin-left: 30px;

          & a {
              color: #24292e;
              transition: all 0.3s;
          }
          & a:hover {
              opacity: 0.5;
          }
      }
  }
}
footer {
  background-color: #24292e;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px 10px 10px;
  text-align: center;
}
//--------------------------------------------------
#reversi {
  position: relative;
  height: 500px;
}
// desc==================================
.desc {
  max-width: 960px;
  display: flex;
  margin: 0 auto;

  & .desc_left {
      width: 49%;
  }
  & .desc_right {
      width: 49%;
      margin-left: 2%;
      text-align: left;
  }
}
.desc_box {
  text-align: left;

  & .desc_title {
      font-weight: 700;
      font-size: 1.1rem;
  }
  & a {
      text-decoration: underline;
  }
  & a:hover {
      color: red;
  }
}